@model Message;
<style>
p.left{
    text-align:left;
}
p.right{
    text-align:right;
}
p.bottom{
    align-items:end;
}
/*div {
    background: blue;
    border-radius: 5px;
    width:200 px;
    height: 20px;
}*/
</style>

    @foreach (var message in ViewBag.varlist)
    {
    <input type="hidden" name="chatthreadid" value="@message.chatthreadId">
    if (@message.currentuseremail == @message.senderDisplayName)
    {
        <div>
        <p class="right"> @message.senderDisplayName :  @message.chatmessage 

        @Html.ActionLink("Delete","DeleteMessage","Chat", new { messageid=@message.MessageId, chatthreadId=@message.chatthreadId}) </p> 
        </div>
       <br />
    }
    else
    {
        <div>
        <p class="left"> @message.senderDisplayName :  @message.chatmessage </p>
        </div>
        <br /> 
    }

    }                              
    @using(Html.BeginForm("SendMessage", "Chat"))
{
    
    @foreach (var message in ViewBag.varlist)
    {
        <input type="hidden" name="chatthreadId" value="@message.chatthreadId">
        
    }
    <div>
     <p class="bottom">
    <input type="text" name="message" >
    <input type="submit" name="sendmessage" >
    </div>
}
@Html.ActionLink("Back to chat home","Index","Chat")
