@model Message;
<style>
p.left{
    text-align:left;
}
p.right{
    text-align:right;
}
</style>

    @foreach (var message in ViewBag.varlist)
    {
    <input type="hidden" name="chatthreadid" value="@message.chatthreadId">
    if (@message.currentuseremail == @message.senderDisplayName)
    {
        <p class="right"> @message.senderDisplayName :  @message.chatmessage </p><br />

        @Html.ActionLink("Delete","DeleteMessage","Chat", new { messageid=@message.MessageId, chatthreadId=@message.chatthreadId})
    }
    else
    {
        <p class="left"> @message.senderDisplayName :  @message.chatmessage </p><br /> 
    }

    }                              
    @using(Html.BeginForm("SendMessage", "Chat"))
{
    
    @foreach (var message in ViewBag.varlist)
    {
        <input type="hidden" name="chatthreadId" value="@message.chatthreadId">
        
    }
    <input type="text" name="message" >
    <input type="submit" name="sendmessage" >
}
@Html.ActionLink("Back to chat home","Index","Chat")
